@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-orange: #F8AD38; /* Warna Oranye dari palet */
  --brand-black: #000000;  /* Warna Hitam dari palet */
  --brand-white: #FFFFFF;  /* Warna Putih dari palet */
}

@theme {
  --color-brand-orange: #F8AD38;
  --color-brand-black: #000000;
  --color-brand-white: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background-color: var(--color-brand-black);
  color: var(--color-brand-white);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}